In [1]:
# clean up ride share data
# Dependencies and Setup
import pandas as pd

# Read Ride Share File and store into Pandas data frame
# Read in Austin ride share data
ridea_dat_a = pd.read_csv("Data/Rides_DataA.csv")

In [2]:
# Check data for column names
ridea_dat_a.head()

,RIDE_ID,started_on,created_date,updated_date,completed_on,distance_travelled,end_location_lat,end_location_long,driver_rating,rider_rating,...,charity_id,requested_car_category,free_credit_used,surge_factor,start_location_long,start_location_lat,rider_id,round_up_amount,promocode_redemption_id,driver_reached_on
0,0,2016-06-04 00:18:49-05:00,2016-06-04 00:10:19-05:00,2016-06-04 00:27:48-05:00,2016-06-04 00:27:32-05:00,8459.0,38.676,-121.039,5.0,5.0,...,NaN,b'REGULAR',NaN,0.0,-121.071,38.655,0,NaN,NaN,2016-06-04 00:14:11-05:00
1,1,2016-06-04 01:50:12-05:00,2016-06-04 01:47:39-05:00,2016-06-04 01:52:00-05:00,2016-06-04 01:51:49-05:00,443.0,38.676,-121.039,5.0,5.0,...,NaN,b'REGULAR',NaN,0.0,-121.038,38.679,0,NaN,NaN,2016-06-04 01:50:02-05:00
2,2,2016-06-04 03:16:02-05:00,2016-06-04 03:13:07-05:00,2016-06-04 03:18:07-05:00,2016-06-04 03:17:57-05:00,568.0,38.676,-121.039,3.0,5.0,...,NaN,b'REGULAR',NaN,0.0,-121.042,38.678,0,NaN,NaN,2016-06-04 03:16:01-05:00
3,3,2016-06-04 10:05:13-05:00,2016-06-04 09:52:35-05:00,2016-06-04 10:14:00-05:00,2016-06-04 10:13:38-05:00,4051.0,30.271,-97.742,5.0,5.0,...,NaN,b'REGULAR',NaN,0.0,-97.764,30.247,1,NaN,NaN,2016-06-04 10:01:19-05:00
4,4,2016-06-04 10:24:25-05:00,2016-06-04 10:23:25-05:00,2016-06-04 10:26:16-05:00,2016-06-04 10:26:07-05:00,790.0,30.269,-97.752,5.0,5.0,...,NaN,b'REGULAR',NaN,0.0,-97.750,30.269,2,NaN,NaN,2016-06-04 10:24:15-05:00

In [3]:
# Begin data clean up
# Eliminate unescessary columns
# Create new dataframe with only nescesary columns
ride_data=ridea_dat_a[['created_date','end_location_lat','end_location_long','start_location_lat','start_location_long']]

# Check row count
ride_data.count()

created_date           1494125
end_location_lat       1494125
end_location_long      1494125
start_location_lat     1494125
start_location_long    1494125
dtype: int64

In [4]:
# Remove empty entries
ride_data=ride_data.dropna()

# Make date object column for proper date sorting
ride_data["Date"]=pd.to_datetime(ridea_dat_a["created_date"])

# Double check data type is proper for date column
ride_data.dtypes

created_date            object
end_location_lat       float64
end_location_long      float64
start_location_lat     float64
start_location_long    float64
Date                    object
dtype: object

In [5]:
# Check counts
ride_data.count()

created_date           1494125
end_location_lat       1494125
end_location_long      1494125
start_location_lat     1494125
start_location_long    1494125
Date                   1494125
dtype: int64

In [6]:
# Check min and max date for cleaning / matching crime data file
print(min(ride_data['created_date']))
print(max(ride_data['created_date']))

2016-06-04 00:10:19-05:00
2017-04-13 18:56:41-05:00

In [7]:
# Save cleaned file 
ride_data.to_csv("Data/Rides_Data_Clean.csv", encoding='utf-8')